:root {
    --profile-width: 350px;
    --content-min-width: 550px;
    --nav-bar-height: 3rem;
    --margin-right: 5%;
    --margin-left: var(--margin-right);
    --content-padding-top: 3rem;
    box-sizing: content-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #ffffff;
}

/* Right Section: main Area */
#main {
    flex-direction: column;
    background-color: #181818;
    margin-left: max(var(--profile-width), 350px);
    min-width: var(--content-min-width);
}

#main #nav-bar {
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: var(--nav-bar-height);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--content-padding-top);
}

#main #nav-bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    height: 100%;
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
}

#main #nav-bar ul li {
    margin-left: 3rem;
}


#main #nav-bar a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
}

#main #nav-bar a {
    color: #b0b0b0;
    text-decoration: none;
}

#main #nav-bar a:hover {
    color: #ffffff;
    text-decoration: none;
}

#main .content {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
}

#main .content h1 {
    color: #ffffff;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

#main .content p {
    color: #cccccc;
    line-height: 1.6;
}

.scrolled {
    background: rgba(32, 32, 32, 0.85); /* Light background with slight opacity */
}

#main .section {
    scroll-margin-top: calc(var(--nav-bar-height) + var(--content-padding-top));
    margin-bottom: 2rem;
}
