:root {
    --profile-width: 400px;
    --content-min-width: 550px;
    --nav-bar-height: 3rem;
    --margin-right: 5%;
    --margin-left: var(--margin-right);
    --content-padding-top: 3rem;
    box-sizing: content-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #ffffff;
}

/* Right Section: main Area */
#main {
    flex-direction: column;
    background-color: #181818;
    margin-left: calc(var(--profile-width) + var(--margin-left));
    min-width: var(--content-min-width);
    line-height: 1.4rem;
    padding-right: var(--margin-right);
}

#main #nav-bar {
    position: sticky;
    top: 0;
    overflow: hidden;
    height: var(--nav-bar-height);
    display: flex;
    flex-direction: column;
    border-left: 1px solid #303030;
}

#main #nav-bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    height: 100%;
}

#main #nav-bar ul li {
    margin-left: 4rem;
}


#main #nav-bar a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
}

#main #nav-bar a {
    color: #b0b0b0;
    text-decoration: none;
}

#main #nav-bar a:hover {
    color: #ffffff;
    text-decoration: none;
}

#main .content {
    padding-left: 3rem;
    margin-top: 3rem;
}

#main .content h1 {
    color: #ffffff;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

#main .content p {
    color: #cccccc;
}

#main .content table {
    width: 100%;
}

#main ul li  {
    margin: 1rem 0;
}

#main .aligned-list {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

#main .aligned-list li {
    padding-left: 20px;
    text-indent: -20px;
}

.scrolled {
    background: #181818;
}

#main .section {
    scroll-margin-top: calc(var(--nav-bar-height) + 1rem);
    margin-top: 3rem;
    margin-bottom: 4rem;

}

#main .right {
    text-align: right;
}
